/* src/components/pages/Profile.css */
.profile-page {
  margin: 50px auto;
  padding: 20px;
}

.profile-header {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info h2 {
  margin: 0;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.profile-button, .edit-button, .cancel-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button {
  background-color: #007bff;
  color: #fff;
}

.profile-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #6c757d;
  color: #fff;
}

.cancel-button:hover {
  background-color: #5a6268;
}

.edit-button {
  background-color: #28a745;
  color: #fff;
}

.edit-button:hover {
  background-color: #218838;
}

.error-message, .success-message {
  color: #fff;
  background-color: #dc3545;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.success-message {
  background-color: #28a745;
}
