/* src/components/pages/Profile.css */
.profile-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-header {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover; /* Ensure the image fits well */
}

.profile-info {
  text-align: center;
  max-width: 100%; /* Prevent text overflow */
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
}

.profile-info h2 {
  margin: 0;
  font-size: 1.8em;
}

.profile-info p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #555;
}

.profile-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center;
  margin-top: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.profile-button, .edit-button, .cancel-button, .sign-out-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button {
  background-color: #007bff;
  color: #fff;
}

.profile-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #6c757d;
  color: #fff;
}

.cancel-button:hover {
  background-color: #5a6268;
}

.edit-button {
  background-color: #28a745;
  color: #fff;
}

.edit-button:hover {
  background-color: #218838;
}

.sign-out-button {
  background-color: #dc3545;
  color: #fff;
}

.sign-out-button:hover {
  background-color: #c82333;
}

.error-message, .success-message {
  color: #fff;
  background-color: #dc3545;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.success-message {
  background-color: #28a745;
}